# Data Tye Conversion
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python defines type conversion functions to directly convert one data type to another

### Convert int() to float()

In [ ]:
a = 5

In [ ]:
type(a)

int

In [ ]:
float(a)

5.0

In [ ]:
print(type(float(a)))

<class 'float'>

###Convert float() to int()
Converting float to int will be flooring or truncating or omitting the value after the comma

In [ ]:
b = 6.2

In [ ]:
type(b)

float

In [ ]:
int(b)

6

In [ ]:
print(int(b),type(int(b)))

6 <class 'int'>

Conversions from and to strings will be tested and confirmed for validity. 
Int() can be changed to str(), but str() can't always be changed to int()

In [ ]:
c = "50.2"
type(c)

str

In [ ]:
float(c)

50.2

In [ ]:
type(float(c))

float

In [ ]:
d = 100

In [ ]:
print(type(str(d)))

<class 'str'>

In [ ]:
e = "5ab"
type(e)

str

In [ ]:
#when converting string() to int() with character in it it will return error

int(e)

ValueError: ignored