# Input and Output

###Variabel
- A Python variable is a reserved memory location to store values. In other words
- Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, Boolean, etc

In [2]:
ab = 20

In [4]:
rum_value = 5.0

In [5]:
stats = "Delivered on Time"

###Print

print() function can be used to print a message onto the screen.

In [6]:
print("What is your name?")

What is your name?

###How to insert the value of variable in string

There are several ways to enter a variable value in a string:
1. Directly concatenate variables in the print() statement.

In [ ]:
X = 3
type(X)

int

In [ ]:
print("The value of X is", X)

The value of X is 3

2. To display text (string), you can use a format string.

In [ ]:
print("My ID card number is {}".format("112233"))

My ID card number is 112233

3. Using operator "%" added with "argument specifiers".

  Some examples of commonly used argument specifiers:

  - %s - String
  - %d - Integers
  - %f - Decimal Number

In [ ]:
Name = "Zachary Eisen"

In [ ]:
Age = 25

In [ ]:
print("The age of %s is %d years old" % (Name, Age))

The age of Zachary Eisen is 25 years old

### input()
input() function is used to take user input. By default, it returns the user input in form of a string. 

By default, the input from the user is a string.

In [1]:
code = input("Enter your Team Name:")

Enter your name:Comment Team